/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,200|Open+Sans:400,700,400italic|Roboto:400,300|Quicksand:300,400,500);
$base-font: 'Open Sans', sans-serif;
$header-font: 'Raleway', sans-serif;
$Roboto: 'Roboto', sans-serif;

// Local fonts (uncomment following lines)
@font-face {
  font-family: "MuseoSans";
  src: font-url('MuseoSans_500.otf');
  // src: font-url('MuseoSans_500.eot?#iefix') format('embedded-opentype'),
  //      font-url('MuseoSans_500.woff') format('woff'),
  //      font-url('MuseoSans_500.ttf') format('truetype')
}

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;

$red: #F6593B;

$blue: #26ADF0;
$blue-light: #B4E7ED;

$yellow: #FFB500;
$orange: #F6743B;
$green: #56C969;
$background: white;
$background-gray: #ECF2F8;

// Gray scale
$gray-darker:  lighten(#000, 13.5%); // #222
$gray-dark:    lighten(#000, 20%);   // #333
$gray:         lighten(#000, 33.5%); // #555
$gray-medium:  lighten(#000, 60%); // Customed
$gray-light:   lighten(#000, 80%); // Customed
$gray-lighter: lighten(#000, 93.5%); // #eee
