/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.main_logo {
  margin-top: 70px;
  margin-bottom: 50px;
  display: block;
   width: auto;
   margin: auto;
}
.catchline {
  margin-top: 0;
  padding: 20vh 20px 30px 20px;
  h1 {
    font-weight: lighter;
  }
  @media (max-width: 767px) {
    padding: 10px 20px 10px 20px;
    h1 {
      font-size: 30px;
    }
  }
}
.je-suis {
  h3 {
    font-size: 22px;
  }
}
.buttons-home {
  padding: 30px 0;
  @media (max-width: 767px) {
    padding: 10px 0;
  }
}

// Search box

.search-box {
  display: inline-block;
  margin: 10px auto auto auto;
  @media (max-width: 767px) {
    display: block;
    padding: 0 30px;
  }
}
.btn-search-home-left, .btn-search-home-left:hover, .btn-search-home-left:active, .btn-search-home-left:focus {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin: 5px 0 6px 0px;
  vertical-align: top;
  padding: 10px 16px 10px 16px !important;
  font-size: 17px !important;
  font-family: $Roboto;
  font-weight: 300;
  background-color: #E6EAF2 !important;
  color: $gray-dark !important;
  box-shadow: none !important;
  cursor: auto !important;
  @media (max-width: 767px) {
    width: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 0;
    margin: 0;
  }
}
#speciality-practice-button, #speciality-locum-button {
  border-radius: 0;
  margin-right: -4px;
  margin-left: -5px;
  @media (max-width: 767px) {
    width: 100% !important;
    margin: 0;
  }
}
#speciality-locum, #speciality-practice, #user_input_autocomplete_address, #user_input_autocomplete_address_locum, #user_input_autocomplete_address_practice {
  min-width: 230px;
}
#speciality-locum, #speciality-practice {
  border-radius: 0;
  margin-right: -6px;
  margin-left: -5px;
  @media (max-width: 767px) {
    display: none;
    margin: 0;
    width: 100%;
  }
}
#user_input_autocomplete_address, #user_input_autocomplete_address_locum, #user_input_autocomplete_address_practice {
  border-radius: 0;
  vertical-align: top;
  margin-right: 0;
  margin-left: 0;
  @media (max-width: 767px) {
    width: 100% !important;
    margin: -6px 0 0 0;
  }
}
#user_input_autocomplete_address:hover, #user_input_autocomplete_address_locum:hover, #user_input_autocomplete_address_practice:hover {
  border: 1px solid #cccccc;
}
.btn-search-home {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin: 5px 0 6px -5px;
  vertical-align: top;
  padding: 9px 16px 10px 16px !important;
  span {
    vertical-align: middle;
  }
  .glyphicon {
    font-size: 23px;
    margin-right: 5px;
  }
  .button-text {
    font-size: 17px;
    font-family: $Roboto;
    font-weight: 300;
  }
  @media (max-width: 767px) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 20px;
    margin: 0;
    width: 100%;
  }
}
.btn-search-home:focus {
  outline: 0;
  outline-offset: 0;
}

// End of Search box

// Comment ça marche

.how {
  background: white;
  padding-top: 30px;
  padding-bottom: 30px;
  color : #888;
  font-size: 13px;
  h3 {
    font-size: 28px;
    color: #545D70;
  }
  .img-container {
    height: 105px;
    width: 105px;
    margin: auto;
  }
}
.why {
  background-color: #F0F8FF;
  h3 {
    font-size: 28px;
    color: #545D70;
  }
}
.press {
  h3 {
    font-size: 28px;
    color: #545D70;
  }
  img {
    max-width: 80%;
    height: auto;
    vertical-align: middle;
  }
}
.testimonies {
  background-color: #F0F8FF;
}
#grey-img {
  img {
    filter: gray; /* IE6-9 */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  }
}

.medias {
  padding-top: 30px;
  padding-bottom: 30px;
}
.round_icons{
  min-height: 260px;
  p {
    font-size: 14px;
  }
  h3 {
    font-weight: 300 !important;
  }
  .highlight {
    font-weight: bold;
    color: $blue;
    text-transform: uppercase;
  }
}

fieldset {
  border: 0;
}
.ui-selectmenu-menu {
  .ui-state-focus {
    background-color: $blue !important;
    color: white !important;
  }
}

.homepage {
  h3 {
    font-weight: 300;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, {
    padding-left: 0;
    padding-right: 0;
  }
}
.xs-search-form {
  padding: 0 5px;
}
