
<div class="row main-footer text-center">
  <div class="primary_section">
      <p>contact@remplamatch.com</p>
      <p>06 00 00 00 00</p>
  </div>
  <div class="icons">
    <ul class ="list-inline list-unstyled">
      <li><i class="fa fa-twitter social"></i></li>
      <li><i class="fa fa-facebook social"></i></li>
    </ul>
  </div>
  <div class="primary_section">
    <ul class ="list-inline list-unstyled">
      <li>© 2016. Tous droits réservés</li>
    </ul>
  </div>
</div>

