<div class="main-footer text-center">
  <div class="primary_section">
      <a href="mailto:contact@medGo.fr"><p>contact@medgo.fr</p></a>
      <p>06 52 33 22 15 || 06 03 48 11 34 </p>
  </div>
  <div class="icons">
    <ul class ="list-inline list-unstyled">
      <li><i class="fa fa-twitter social"></i></li>
      <li><i class="fa fa-linkedin social"></i></li>
      <li><i class="fa fa-facebook social"></i></li>
    </ul>
  </div>
  <div class="primary_section">
    <ul class ="list-inline list-unstyled">
      <li>© 2016. Tous droits réservés</li>
    </ul>
  </div>
</div>

