<div class="navbar-wagon navbar-transparent">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo-2.png" %>
    <span class="logo-text-large" id="logo-text"> MatchMed</span>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right">
    <div class="">
      <span class="navbar-wagon-item navbar-wagon-link hidden-xs" data-toggle="modal" data-target="#myModal">Nous contacter</span>
    </div>
  </div>

</div>
