<div class="navbar-wagon navbar-transparent">
  <!-- Logo -->
  <%= link_to root_path do %>
    <%= image_tag "Logo_large_white.svg", width: 200 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs">
    <div class="">
      <span class="navbar-wagon-item navbar-wagon-link hidden-xs" data-toggle="modal" data-target="#myModal">Nous contacter</span>
    </div>
  </div>

</div>
